*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    background-color: transparent;
    margin-right: auto;
    margin-left: auto;
}

.navbar li{
   flex-grow: 1;
   align-items: center;
   justify-content: space-between;
   padding: 0.5rem 1rem;
}

