*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    background-color: darkbrown;
    margin-right: auto;
    margin-left: auto;
}

.navbar li{
   flex-grow: 1;
   align-items: center;
   justify-content: space-between;
   padding: 0.5rem 1rem;
}
main{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5wh9YMP1V4Da4oALxEMZCh1ibJKGf_7y5OQ&s);
  background-repeat: no-repeat;
}
