*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
}
.navbar > ul{
    display: flex;
    text-decoration: none;
    text-align: center;
    background-color: lightblue;
    align-items: center;
   justify-content: space-between;
   padding: 0.5rem 1rem;
}
