{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
  <form action="{{ url_for('register')}}" method="post">
    <div>
      <label for="username">Username</label>
      <input autocomplete="off" autofocus type="text" name="username" placeholder="Username" >
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password">
    </div>
    <div>
      <label for="confirmation">Confirm Password</label>
      <input type="password" id="confirmation" name="confirmation">
    </div>
    <button type="submit">Register</button>
  </form>
{% endblock %}
